* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

#root {
    height: 100%;
    overflow-y: hidden;
}

.controls {
    display: flex;
    flex-direction: column;
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

.controls>.buttons {
    justify-content: space-evenly;
    display: flex;
    margin-top: 0.5rem;
    height: 2rem;
}

.controls>.buttons>button {
    width: 7rem;
    height: 2rem;
}

.subtitles {
    display: flex;
    flex-direction: column;
}

.subtitles>p {
    font-size: 1.5rem;
}

.subtitles>p:nth-child(2n + 1) {
    color: darkblue;
}

.progressBar {
    height: 10px;
    flex-shrink: 0;
    border-radius: 5px;
    background-color: #a4a4a4;
    width: calc(100% - 20px);
    margin: 0 auto;
}

.progressBar::-webkit-progress-value {
    background-color: red;
}

.progressBar::-moz-progress-bar {
    background-color: red;
}


.video {
    width: 100%;
    height: calc(100% - 200px);
}