:global * {
    box-sizing: border-box;
}

:global html {
    background-color: #181818;
}

:global body {
    margin: 0;
}

:global #root {
    overflow: hidden;
}

.viewport {
    position: relative;
    height: 100vh;

    .progressBar {
        height: 10px;
        left: 10px;
        border-radius: 5px;
        width: calc(100% - 20px);
        margin: 0 auto;
        position: absolute;
        bottom: 62px;
    }

    .video {
        width: 100%;
        height: 100%;
    }

    .controls {
        display: flex;
        flex-direction: column;
        width: 100%;
        bottom: 2px;
        position: absolute;
        height: 59px;
        overflow: hidden;
        background-color: #00000087;

        &>.buttons {
            position: absolute;
            max-width: 600px;
            width: 100%;
            left: 50%;
            transform: translateX(-50%);
            justify-content: space-evenly;
            display: flex;
            padding: 5px;

            &>button {
                height: 50px;
                width: 50px;
                border-radius: 50%;
                background-color: #4f4856;
                cursor: pointer;
            }
        }
    }

    .subtitles {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 75px;
        width: calc(100% - 20px);
        left: 10px;

        &>button.addSubtitle {
            width: 100px;
            max-width: 33%;
            height: 2rem;
            margin-top: 2px;
            cursor: pointer;
            background: transparent;
            color: white;
            border-radius: 5px;
            border-style: none;
            align-self: center;

            &:hover {
                background-color: #f0e0ff52;
            }
        }

        &>.subtitle {

            margin-top: 10px;
            display: flex;
            align-items: center;

            &>button {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: #4f4856;
                cursor: pointer;
            }

            &>textarea {
                flex-grow: 1;
                margin-right: 10px;
                font-size: 2rem;
                border: none;
                resize: none;
                background: transparent;
                caret-color: white;
                color: lightyellow;
                border-radius: 5px;
                text-shadow: 2px 2px 0px black, -2px -2px 0px black, 2px -2px 0px black, -2px 2px 0px black;

                &:focus-visible {
                    outline: none;
                }

                &:hover {
                    outline: solid;
                }
            }
        }
    }
}