:global * {
    box-sizing: border-box;
}

:global html {
    height: 100%;
}

:global body {
    height: 100%;
    margin: 0;
}

:global #root {
    height: 100%;
    overflow-y: hidden;
}

.controls {
    display: flex;
    flex-direction: column;
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;

    &>.buttons {
        justify-content: space-evenly;
        display: flex;
        margin-top: 0.5rem;
        height: 2rem;

        &>button {
            width: 7rem;
            height: 2rem;
        }
    }
}

.subtitles {
    display: flex;
    flex-direction: column;
    margin: 0 10px;

    &>button.addSubtitle {
        width: 100%;
        height: 2rem;
        margin-top: 2px;
    }

    &>.subtitle {

        margin-top: 10px;
        display: flex;
        align-items: center;

        &>button {
            width: 7rem;
            height: 2rem;
        }

        &>textarea {
            flex-grow: 1;
            margin-right: 10px;
            font-size: 1.5rem;
            border: none;
            resize: vertical;
        }

        &:nth-child(2n + 1)>textarea {
            color: darkblue;
        }
    }
}

.progressBar {
    height: 10px;
    flex-shrink: 0;
    border-radius: 5px;
    width: calc(100% - 20px);
    margin: 0 auto;
}

.video {
    width: 100%;
    height: calc(100% - 200px);
}
